@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  @apply w-2 h-2;
}

::-webkit-scrollbar-track {
  @apply bg-white;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-400 rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary-400 rounded-full;
}

::selection {
  @apply bg-primary-300 text-white;
}

.wmde-markdown p {
  @apply text-neutral-500;
}
